<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'kontakte')}">
<body>
<h2>Kontakte</h2>
<table id="feten" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 120px">Ort</th>
        <th>Mediendateien</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kontakt : ${auswahl}">
        <td>
            <a th:href="@{/kontakte/__${kontakt.id}__}" th:text="${kontakt.firstName + ' ' + kontakt.lastName}"/></a>
        </td>

        <td><span th:each="adresse:${kontakt.adresse}" th:text="${adresse.ort.titel}"/>

        <td><span th:each="media:${kontakt.mediaSet}" th:text="${media.titel} + ' (' + ${media.mediaTyp} + ')' "/></td>
    </tr>
    </tbody>
</table>

</body>
</html>
