<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>Eigentümer-Liste</title>
</head>

<body>
<!--/*@thymesVar id="owner" type="com.eigenbaumarkt.fetenarchiv.model.Owner"*/-->
<h2 th:text="'Eigentümer-Liste'">List of Owners</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">Vorname</th>
        <th style="width: 150px;">Nachname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">default-Eintrag</td>
        <td th:text="${owner.lastName}">default-Eintrag</td>
    </tr>
    </tbody>
</table>
</body>
</html>